<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="shortcut icon" href="https://media.discordapp.net/attachments/630858840585535498/750450513304223885/image0.png" style="border-radius: 80px;" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <meta charset="UTF-8">
    <meta name="og:description" content="The Official Staff list for the Paradise Bot List team." />
    <meta name="og:image" content="https://i.imgur.com/Df2seyl.png" />
    <meta name="og:title" content="Paradise Bot List | Staff" />
    <meta name="theme-color" content="#758acf" />
    <meta name="keywords" content="discordbots.org , top.gg, Discordbots.co , Bots , bot list , paradisebots.net, discord bot list , discord boats , blaze , lists, discord bots , discord bots list">
    <meta property="og:description" content="The Official Staff list for the Paradise Bot List team." />
    <meta name="og:image" content="https://i.imgur.com/Df2seyl.png" />
    <meta name="theme-color" content="#758acf" />

  <title>Paradise Bot List - Staff</title>
</head>
<body>
  <%- include("../partials/header", { bot, user, path, }) %>
  
<!-- FETCH THE STAFF MEMBERS BY ID FROM PARADISE BOT -->
  
 

<!-- START CODE FOR THE ACTUAL PAGE -->

<div style="margin-left: 100px;">
  <h2 style="Color: rgb(117, 138, 207);">Owners</h2>
</div>
 <div id="content">
<div class="staffcard">
      <div class="staffcard-header">
      <center><img src="https://cdn.discordapp.com/avatars/<%= toxic.id %>/<%= toxic.avatar %>" class="d-flex mr-3 rounded-circle" style="width: 125px;height: 125px;border-radius: 50%;" alt="TOXIC"><center>
      </div>
      <div class="staffcard-body">
          <h2 class="name"><%= toxic.username %></h2>
          <h5 class="job-title"><h5>Position(s)</h5> 
          • Owner <br> • Developer <br> • Web Admin <br> • Administrator <br> • Bot Approvals</h5>
        <div class="staffbio">
          <h5> <br>Discord </h5>
          • <%= toxic.username %>#<%= toxic.discriminator %>
          <h5> <br> Social Media </h5> 
             <li><a href="https://twitter.com/TheRealToxicDev"><i class="fa fa-twitter"></i> @TheRealToxicDev</a></li>
             <li><a href="https://github.com/TheRealToxicDev"><i class="fa fa-github"></i> @TheRealToxicDev</a></li>
             <li><a href="https://toxicdev.me"><i class="fa fa-globe"></i> toxicdev.me</a></li>
      </div>
  </div>
</div>

<div class="staffcard">
      <div class="staffcard-header">
      <center><img src="https://cdn.discordapp.com/avatars/<%= sun.id %>/<%= sun.avatar %>" class="d-flex mr-3 rounded-circle" style="width: 125px;height: 125px;border-radius: 50%;" alt="Sun"><center>
      </div>
      <div class="staffcard-body">
          <h2 class="name"><%= sun.username %></h2>
          <h5 class="job-title"><h5>Position(s)</h5> • Co-Owner <br> • Web Admin <br> • Administrator <br> • Bot Approvals</h5>
        <div class="staffbio">
          <h5> <br>Discord </h5>
          • <%= sun.username %>#<%= sun.discriminator %> 
          <h5> <br> Social Media </h5> 
             <li><a href="https://twitter.com/Offical_Sun"><i class="fa fa-twitter"></i> @Offical_Sun</a></li>
      </div>
  </div>
</div>
<hr style="background-color: rgb(117, 138, 207);"><br style="Color: #758acf;">
<div style="margin-left: 100px;">
  <h2 style="Color: rgb(117, 138, 207);">Head Admin(s)</h2>
</div>
<div class="staffcard">
      <div class="staffcard-header">
      <center><img src="https://cdn.discordapp.com/avatars/<%= cpt.id %>/<%= cpt.avatar %>" class="d-flex mr-3 rounded-circle" style="width: 125px;height: 125px;border-radius: 50%;" alt="Cpt"><center>
      </div>
      <div class="staffcard-body">
          <h2 class="name"><%= cpt.username %></h2>
          <h5 class="job-title"><h5>Position(s)</h5> 
          • Head Admin <br> • Web Admin <br> • Administrator <br> • Bot Approvals</h5>
        <div class="staffbio">
          <h5> <br>Discord </h5>
          • <%= cpt.username %>#<%= cpt.discriminator %>
          <h5> <br> Social Media </h5> 
             <li><a href="https://twitter.com/Cpt_Calcium"><i class="fa fa-twitter"></i> @Cpt_Calcium</a></li>
      </div>
  </div>
</div>
<div class="staffcard">
      <div class="staffcard-header">
      <center><img src="https://cdn.discordapp.com/avatars/<%= connor.id %>/<%= connor.avatar %>" class="d-flex mr-3 rounded-circle" style="width: 125px;height: 125px;border-radius: 50%;" alt="Connor"><center>
      </div>
      <div class="staffcard-body">
          <h2 class="name"><%= connor.username %></h2>
           <h5 class="job-title"><h5>Position(s)</h5> • Head Administrator <br> • Head Developer <br> • Developer <br> • Bot Approvals </h5>
        <div class="staffbio">
          <h5> <br>Discord </h5>
          • <%= connor.username %>#<%= connor.discriminator %>
         <h5> <br> Social Media </h5> 
             <li><a href="https://twitter.com/Connor200024"><i class="fa fa-twitter"></i> @Connor200024</a></li>
             <li><a href="https://github.com/Connor200024"><i class="fa fa-github"></i> @Connor200024</a></li>
      </div>
  </div>
</div>
<hr style="background-color: #758acf;"><br>
<div style="margin-left: 100px;">
  <h2 style="Color: rgb(117, 138, 207);">Developer(s)</h2>
</div>
<div class="staffcard">
<div class="staffcard-header">
  <center><img src="https://cdn.discordapp.com/avatars/<%= harley.id %>/<%= harley.avatar %>" class="d-flex mr-3 rounded-circle" style="width: 125px;height: 125px;border-radius: 50%;" alt="Lags"><center>
  </div>
  <div class="staffcard-body">
      <h2 class="name"><%= harley.username %></h2>
      <h5 class="job-title"><h5>Position(s)</h5> • Head Developer <br>  • Developer <br> • Web Admin <br> • Web Mod <br> • Bot Approvals</h5>
    <div class="staffbio">
      <h5> <br>Discord </h5>
      • <%= harley.username %>#<%= harley.discriminator %>
     <h5> <br> Social Media </h5> 
         <li><a href="https://twitter.com/Sgtharley50501"><i class="fa fa-twitter"></i> @Sgtharley50501</a></li>
    </div>
  </div>
</div>
<div class="staffcard">
      <div class="staffcard-header">
      <center><img src="https://cdn.discordapp.com/avatars/<%= pixel.id %>/<%= pixel.avatar %>" class="d-flex mr-3 rounded-circle" style="width: 125px;height: 125px;border-radius: 50%;" alt="Pixel"><center>
      </div>
      <div class="staffcard-body">
          <h2 class="name"><%= pixel.username %></h2>
          <h5 class="job-title"><h5>Position(s)</h5> • Developer <br> • Moderator <br> • Trusted Member <br> • Bot Approvals</h5>
        <div class="staffbio">
          <h5> <br>Discord </h5>
          • <%= pixel.username %>#<%= pixel.discriminator %>
        <h5> <br> Social Media </h5> 
             <li><a href="https://twitter.com/Pixel_Sized"><i class="fa fa-twitter"></i> @Pixel_Sized</a></li>
             <li><a href="https://github.com/PixelSized"><i class="fa fa-github"></i> @PixelSized</a></li>
      </div>
  </div>
</div>
<div class="staffcard">
      <div class="staffcard-header">
      <center><img src="https://cdn.discordapp.com/avatars/<%= dillon.id %>/<%= dillon.avatar %>" class="d-flex mr-3 rounded-circle" style="width: 125px;height: 125px;border-radius: 50%;" alt="Dillon"><center>
      </div>
      <div class="staffcard-body">
          <h2 class="name"> <%= dillon.username %></h2>
          <h5 class="job-title"><h5>Position(s)</h5> • Moderator <br> • Bot Approvals <br> • Head Approver</h5>
        <div class="staffbio">
          <h5> <br>Discord </h5>
          • <%= dillon.username %>#<%= dillon.discriminator %>
         <h5> <br> Social Media </h5> 
             <li><a href="https://twitter.com/espressosquad"><i class="fa fa-twitter"></i> @espressosquad</a></li>
             <li><a href="https://github.com/41LL0N"><i class="fa fa-github"></i> @41LL0N</a></li>
      </div>
  </div>
</div>
<div class="staffcard">
      <div class="staffcard-header">
      <center><img src="https://cdn.discordapp.com/avatars/<%= windows.id %>/<%= windows.avatar %>" class="d-flex mr-3 rounded-circle" style="width: 125px;height: 125px;border-radius: 50%;" alt="Elite"><center>
      </div>
      <div class="staffcard-body">
          <h2 class="name"> <%= windows.username %></h2>
          <h5 class="job-title"><h5>Position(s)</h5> • Administrator <br> • Trusted Members</h5>
        <div class="staffbio">
          <h5> <br>Discord </h5>
          • <%= windows.username %>#<%= windows.discriminator %>
         <h5> <br> Social Media </h5> 
             <li><a href="https://github.com/WindowsCmd"><i class="fa fa-github"></i> @WindowsCmd</a></li>
      </div>
  </div>
</div>
<hr style="background-color: #758acf;"><br style="Color: #758acf;">
<div style="margin-left: 100px;">
  <h2 style="Color: rgb(117, 138, 207);">Web Admin(s)</h2>
</div>
<div class="staffcard">
      <div class="staffcard-header">
      <center><img src="https://cdn.discordapp.com/avatars/<%= greed.id %>/<%= greed.avatar %>" class="d-flex mr-3 rounded-circle" style="width: 125px;height: 125px;border-radius: 50%;" alt="Greed"><center>
      </div>
      <div class="staffcard-body">
          <h2 class="name"><%= greed.username %></h2>
          <h5 class="job-title"><h5>Position(s)</h5> • Web Admin <br> • Administrator <br> • Trusted Member <br> • Bot Approvals</h5>
        <div class="staffbio">
          <h5> <br>Discord </h5>
          • <%= greed.username %>#<%= greed.discriminator %>
          <h5> <br> Social Media </h5>
             <li><a href="https://twitter.com/TheReal_Greed"><i class="fa fa-twitter"></i> @TheReal_Greed</a></li>
      </div>
   </div>
</div>
<div class="staffcard">
      <div class="staffcard-header">
      <center><img src="https://cdn.discordapp.com/avatars/<%= harvey.id %>/<%= harvey.avatar %>" class="d-flex mr-3 rounded-circle" style="width: 125px;height: 125px;border-radius: 50%;" alt="Lags"><center>
      </div>
      <div class="staffcard-body">
          <h2 class="name"><%= harvey.username %></h2>
          <h5 class="job-title"><h5>Position(s)</h5> • Web Admin <br> • Administrator <br> • Bot Approvals</h5>
        <div class="staffbio">
          <h5> <br>Discord </h5>
          • <%= harvey.username %>#<%= harvey.discriminator %>
         <h5> <br> Social Media </h5> 
             <li><a href="https://twitter.com/harvey_scanlan"><i class="fa fa-twitter"></i> @harvey_scanlan</a></li>
      </div>
  </div>
</div>
<hr style="background-color: #758acf;"><br style="Color: #758acf;">
<div style="margin-left: 100px;">
  <h2 style="Color: rgb(117, 138, 207);">Administrator(s)</h2>
</div>
<div class="staffcard">
      <div class="staffcard-header">
      <center><img src="https://cdn.discordapp.com/avatars/<%= mitask.id %>/<%= mitask.avatar %>" class="d-flex mr-3 rounded-circle" style="width: 125px;height: 125px;border-radius: 50%;" alt="MiTask"><center>
      </div>
      <div class="staffcard-body">
          <h2 class="name"><%= mitask.username %></h2>
          <h5 class="job-title"><h5>Position(s)</h5> • Administrator <br> • Bot Approvals</h5>
        <div class="staffbio">
          <h5> <br>Discord </h5>
          • <%= mitask.username %>#<%= mitask.discriminator %>
         <h5> <br> Social Media </h5> 
             <li><a href="https://twitter.com/MiTask4"><i class="fa fa-twitter"></i> @MiTask4</a></li>
             <li><a href="https://github.com/MrMasrozYTLIVE"><i class="fa fa-github"> @MrMasrozYTLIVE</i></a></li>
             <li><a href="https://www.reddit.com/user/MiTaskSpace"><i class="fa fa-reddit"></i> @MiTaskSpace</a></li>
             <li><a href="https://www.youtube.com/channel/UCObPuMmkWVZjL1I1MFon7VA"><i class="fa fa-youtube"></i></a></li>
             <li><a href="https://www.tumblr.com/blog/mitask"><i class="fa fa-tumblr"></i> @mitask</a></li>
      </div>
  </div>
</div>
<div class="staffcard">
      <div class="staffcard-header">
      <center><img src="https://cdn.discordapp.com/avatars/<%= awish.id %>/<%= awish.avatar %>" class="d-flex mr-3 rounded-circle" style="width: 125px;height: 125px;border-radius: 50%;" alt="Awish"><center>
      </div>
      <div class="staffcard-body">
          <h2 class="name"><%= awish.username %></h2>
          <h5 class="job-title"><h5>Position(s)</h5> • Administrator <br> • Trusted Member</h5>
        <div class="staffbio">
          <h5> <br>Discord </h5>
          • <%= awish.username %>#<%= awish.discriminator %>
         <h5> <br> Social Media </h5> 
             <li><a href="https://twitter.com/Awish79614683"><i class="fa fa-twitter"></i> @Awish79614683</a></li>
             <li><a href="https://github.com/Awish-Senpai"><i class="fa fa-github"></i> @Awish-Senpai</a></li>
      </div>
  </div>
</div>
<div class="staffcard">
      <div class="staffcard-header">
      <center><img src="https://cdn.discordapp.com/avatars/<%= sebboy.id %>/<%= sebboy.avatar %>" class="d-flex mr-3 rounded-circle" style="width: 125px;height: 125px;border-radius: 50%;" alt="Elite"><center>
      </div>
      <div class="staffcard-body">
          <h2 class="name"> <%= sebboy.username %></h2>
          <h5 class="job-title"><h5>Position(s)</h5> • Administrator <br> • Bot Approvals</h5>
        <div class="staffbio">
          <h5> <br>Discord </h5>
          • <%= sebboy.username %>#<%= sebboy.discriminator %>
         <h5> <br> Social Media </h5> 
             <li><a href="https://twitter.com/sebb0y"><i class="fa fa-twitter"></i> @sebb0y</a></li>
      </div>
  </div>
</div>
<div class="staffcard">
      <div class="staffcard-header">
      <center><img src="https://cdn.discordapp.com/avatars/<%= bowman.id %>/<%= bowman.avatar %>" class="d-flex mr-3 rounded-circle" style="width: 125px;height: 125px;border-radius: 50%;" alt="Elite"><center>
      </div>
      <div class="staffcard-body">
          <h2 class="name"> <%= bowman.username %></h2>
          <h5 class="job-title"><h5>Position(s)</h5> • Administrator</h5>
        <div class="staffbio">
          <h5> <br>Discord </h5>
          • <%= bowman.username %>#<%= bowman.discriminator %>
      </div>
  </div>
</div>

<hr style="background-color: #758acf;"><br style="Color: #758acf;">
<div style="margin-left: 100px;">
  <h2 style="Color: rgb(117, 138, 207);">Moderator(s)</h2>
</div>
<div class="staffcard">
      <div class="staffcard-header">
      <center><img src="https://cdn.discordapp.com/avatars/<%= lokesh.id %>/<%= lokesh.avatar %>" class="d-flex mr-3 rounded-circle" style="width: 125px;height: 125px;border-radius: 50%;" alt="Dillon"><center>
      </div>
      <div class="staffcard-body">
          <h2 class="name"><%= lokesh.username %></h2>
          <h5 class="job-title"><h5>Position(s)</h5> • Moderator</h5>
        <div class="staffbio">
          <h5> <br>Discord </h5>
          • <%= lokesh.username %>#<%= lokesh.discriminator %>
         <h5> <br> Social Media </h5> 
             <li><a href="https://twitter.com/LokeshGamingYT"><i class="fa fa-twitter"></i> @LokeshGamingYT </a></li>
      </div>
  </div>
</div>
<div class="staffcard">
      <div class="staffcard-header">
      <center><img src="https://cdn.discordapp.com/avatars/<%= malluvs.id %>/<%= malluvs.avatar %>" class="d-flex mr-3 rounded-circle" style="width: 125px;height: 125px;border-radius: 50%;" alt="Dillon"><center>
      </div>
      <div class="staffcard-body">
          <h2 class="name"><%= malluvs.username %></h2>
          <h5 class="job-title"><h5>Position(s)</h5> • Developer <br> • Moderator</h5>
        <div class="staffbio">
          <h5> <br>Discord </h5>
          • <%= malluvs.username %>#<%= malluvs.discriminator %>
         <h5> <br> Social Media </h5> 
             <li><a href="https://twitter.com/mallusrgreatv22"><i class="fa fa-twitter"></i> @mallusrgreatv22 </a></li>
      </div>
  </div>
</div>
<div class="staffcard">
      <div class="staffcard-header">
      <center><img src="https://cdn.discordapp.com/avatars/<%= harley.id %>/<%= harley.avatar %>" class="d-flex mr-3 rounded-circle" style="width: 125px;height: 125px;border-radius: 50%;" alt="Lags"><center>
      </div>
      <div class="staffcard-body">
          <h2 class="name"><%= harley.username %></h2>
          <h5 class="job-title"><h5>Position(s)</h5> • Bot Approvals</h5>
        <div class="staffbio">
          <h5> <br>Discord </h5>
          • <%= harley.username %>#<%= harley.discriminator %>
         <h5> <br> Social Media </h5> 
             <li><a href="https://twitter.com/Sgtharley50501"><i class="fa fa-twitter"></i> @Sgtharley50501</a></li>
      </div>
  </div>
</div>
</div>
</div>
<br><br><br><br><br><br>
<%- include("../partials/footer") %>
</body>
</html>
