<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="shortcut icon" href="https://media.discordapp.net/attachments/630858840585535498/750450513304223885/image0.png" style="border-radius: 80px;" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Paradise Bot List</title>
  <meta name="google-site-verification" content="FfWdik18oPDgxmxz7K7NIqsTgr6wTmLmWJtaXzLOw78" />
</head>
<body>
<%- include("partials/header", { bot, user, path, }) %>
<br>

<center>
  <% if (alert) { %>
    <div style="background-color: rgb(151, 255, 177);  border: solid; border-color: black; width: 800px; height: 40px; border-radius: 20px; padding: 6px">
      <b style="color: rgb(70, 150, 70);"><%= alert %></b>
    </div>
  <% }else if(error){ %>
    <div style="background-color: rgb(255, 87, 87);  border: solid; border-color: black; width: 800px; height: 40px; border-radius: 20px; padding: 6px">
      <b><%= error %></b>
    </div>
    <% } %>
  </center>
<br>
<center>
  <img class="index_logo" style="width: 200px;">
<h3>Search for a bot to Spice up your server.</h3>
<div class="container">
  <form style="margin-top: 1em;" method="POST"> <!-- method="post" tiggers a POST request to the same url with the body of the form control inputs -->
<input class="search" name="search" placeholder="i.e hydrogen bot or moderation" required></input>
<button name="searchbutton" value="1" class="button custom" style="padding: 8px; width: 100px; color: white;"><i class="fa fa-search"></i> Search</button>
</form>
</div>
</center>
<br>

<div style="margin-left: 100px;">
  <h2>Top Voted Bots!</h2>
</div>
<div class="container">
  <% if(bots.length === 0) { %>
    <p>No bots for now</p>
    <% }else{ %>
<% for (i = 0; i < bots.length; i++) { %>
  <% bot.users.fetch(bots[i].botid) %>
    <% } %>
    <% for (i = 0; i < 6; i++) { %>
  <div class="botcard">
    <div class="bot-content-bkg">
       <img src="<%= bots.banner %>" onerror="this.src='https://cdn.discordapp.com/attachments/825773503298404364/825901309982933014/ParadiseBanner.jpg' " alt="Bot Banner" style="width: 100%;">
    </div>
    <% let botname = "Coming Soon"; %>
    <% let botavatar = "https://maxcdn.icons8.com/Share/icon/Logos/discord_logo1600.png"; %>
    <% let botvotes = "0"; %>
    <% let botlikes = "0"; %>
    <% let botdislikes = "0" %>
    <% let botservers = "N/A"; %>
    <% let botshards = "N/A"; %>
    <% let presence = ""; %>
    <% let thebot = bot.users.cache.get(bots[i].botid) %>
    <% let botshort = "Coming soon bots in verification!"; %>
    <% let botinvite = "https://discord.gg/6G7pbqG"; %>
    <% let botid = "000000000000000"; %>
    <% if(bots[i]){ %>
      <% if(bots[i].votes){ %>
        <% botvotes = bots[i].votes %>
        <% } %>
        <% if(bots[i].servers){ %>
          <% botservers = bots[i].servers %>
          <% } %>
          <% if(bots[i].shards){ %>
            <% botshards = bots[i].shards %>
            <% } %>
            <% if (bots[i].likes.size > 0){ %>
             <% botlikes = bots[i].likes.size %>
            <% } %>
            <% if (bots[i].dislikes.size > 0){ %>
              <% botdislikes = bots[i].dislikes.size %>
            <% } %>
            <% if(bots[i].short){ %>
              <% botshort = bots[i].short %>
            <% } %>
             <% if(bots[i].invite){ %>
              <% botinvite = bots[i].invite %>
            <% } %>
            <% if(bots[i].botid){ %>
             <% botid = bots[i].botid %>
            <% } %>
    <% if(bot.users.cache.get(bots[i].botid)) { %>
      <% botname = bot.users.cache.get(bots[i].botid).username %>
      <% botavatar = bot.users.cache.get(bots[i].botid).displayAvatarURL()  %>
      <% presence = bot.users.cache.get(bots[i].botid).presence.status %>
      <% }else{ %>
        <% botavatar = bots[i].avatar %>
      <% botname = "Error fetching" %>
      <% } %>
      <% } %>
      <% if(botname.length > 22){ %>
        <% botname = botname.slice(0 , 19) + "..." %>
      <% } %>
        <% if(presence == "online"){ %>
          <img src="https://cdn.discordapp.com/avatars/<%= thebot.id %>/<%= thebot.avatar %>" style="width: 120px; height: 120px; border-radius: 70px; border-style: solid; border-color: greenyellow;"> 
        <% }else if(presence== "idle"){ %>
          <img src="https://cdn.discordapp.com/avatars/<%= thebot.id %>/<%= thebot.avatar %>" style="width: 120px; height: 120px; border-radius: 70px; border-style: solid; border-color: rgb(255, 189, 47);"> 
        <% }else if(presence == "dnd"){ %> 
          <img src="https://cdn.discordapp.com/avatars/<%= thebot.id %>/<%= thebot.avatar %>" style="width: 120px; height: 120px; border-radius: 70px; border-style: solid; border-color: rgb(255, 47, 47);"> 
        <% }else{ %> 
          <img src="https://cdn.discordapp.com/avatars/<%= thebot.id %>/<%= thebot.avatar %>" style="width: 120px; height: 120px; border-radius: 70px; border-style: solid; border-color: rgb(207, 207, 207);"> 
        <% } %>
      <div class="container">
      <b style="background-color: #2c2c34; margin: 10px; height: 30px; border-radius: 20px; padding: 5px;"><i class="fa fa-check"></i> <%= botvotes %></b>
      <b style="background-color: #2c2c34; margin: 10px; height: 30px; border-radius: 20px; padding: 5px;"><i class="fa fa-server"></i> <%= botservers %></b>
      <b style="background-color: #2c2c34; margin: 10px; height: 30px; border-radius: 20px; padding: 5px;"><i class="fa fa-sitemap"></i> <%= botshards %></b>
      <b style="background-color: #2c2c34; margin: 10px; height: 30px; border-radius: 20px; padding: 5px;"><i class="fa fa-thumbs-up"></i> <%= botlikes %></b>
      <b style="background-color: #2c2c34; margin: 10px; height: 30px; border-radius: 20px; padding: 5px;"><i class="fa fa-thumbs-down"></i> <%= botdislikes %></b>
      <% if(bots[i].is_certified ||  bots[i].certifiedBot === 'certified') { %>
      <b style="background-color: #2c2c34;  margin: 10px; height: 35px; border-radius: 20px; padding: 5px;"> <img src='https://media.discordapp.net/attachments/747390406722977863/760792636436250644/cert.png' title='Certified' width="25px" height="25px"/> Certified</b>
      <% } %>
      <% if(bots[i].partneredBot === 'partnered') { %>
      <b style="background-color: #2c2c34;  margin: 10px; height: 35px; border-radius: 20px; padding: 5px;"> <img src='https://media.discordapp.net/attachments/747390406722977863/760782195249381406/partner.png' title='Partnered' width="25px" height="25px"/> Partnered</b>
    <% } %>
  </div>
    <h2><%= botname %></h2>
    <p style="word-wrap:break-word;"><%= botshort %></p>
<% bots[i].tags.split(", ").map(x => { %>
  <b style="color: white;  background-color: #2c2c34; border-radius: 20px; padding: 3px; font-size: 12px;"><%= x %></b> 
  <% }) %>
  <br>
  <br>
    <a href="<%= botinvite %>" class="viewbutton" style="background-color: transparent;" ><i class="fa fa-plus"></i> Invite</a>
    <a href="/bots/<%= bots[i].is_certified ? bots[i].vanity : bots[i].botid %>" class="viewbutton" style="background-color: transparent;" ><i class="fa fa-eye"></i> View</a>
  </div>
<% } %>  
      <% } %>
</div>

<hr style="margin-left: 200px; margin-right: 200px;">
<h2 style="margin-left: 100px;">New Approved Bots!</h2>
<div class="container">
  <% if(bots.length === 0) { %>
    <p>No bots for now</p>
    <% }else{ %>
<% for (i = 0; i < bots2.length; i++) { %>
  <% bot.users.fetch(bots2[i].botid) %>
    <% } %>
    <% for (i = 0; i < 6; i++) { %>
  <div class="botcard">
    <div class="bot-content-bkg">
       <img src="<%= bots.banner %>" onerror="this.src='https://cdn.discordapp.com/attachments/825773503298404364/825901309982933014/ParadiseBanner.jpg' " alt="Bot Banner" style="width: 100%;">
    </div>
    <% let botname2 = "Coming Soon"; %>
    <% let botavatar2 = "https://maxcdn.icons8.com/Share/icon/Logos/discord_logo1600.png"; %>
    <% let botvotes2 = "0"; %>
    <% let botlikes2 = "0"; %>
    <% let botdislikes2 = "0" %>
    <% let botservers2 = "N/A"; %>
    <% let botshards2 = "N/A"; %>
    <% let presence2 = ""; %>
    <% let thebot2 = bot.users.cache.get(bots2[i].botid) %>
    <% let botshort2 = "Coming soon bots in verification!"; %>
    <% let botinvite2 = "https://discord.gg/6G7pbqG"; %>
    <% let botid2 = "000000000000000"; %>
    <% if(bots2[i]){ %>
      <% if(bots2[i].votes){ %>
        <% botvotes2 = bots2[i].votes %>
        <% } %>
        <% if(bots2[i].servers){ %>
          <% botservers2 = bots2[i].servers %>
          <% } %>
          <% if(bots2[i].shards){ %>
            <% botshards2 = bots2[i].shards %>
            <% } %>
           <% if (bots2[i].likes.size > 0){ %>
             <% botlikes2 = bots2[i].likes.size %>
            <% } %>
            <% if (bots2[i].dislikes.size > 0){ %>
             <% botdislikes2 = bots2[i].dislikes.size %>
            <% } %>
        <% if(bots2[i].short){ %>
          <% botshort2 = bots2[i].short %>
          <% } %>
          <% if(bots2[i].invite){ %>
            <% botinvite2 = bots2[i].invite %>
            <% } %>
            <% if(bots2[i].botid){ %>
              <% botid2 = bots2[i].botid %>
              <% } %>
    <% if(bot.users.cache.get(bots2[i].botid)) { %>
      <% botname2 = bot.users.cache.get(bots2[i].botid).username %>
      <% botavatar2 = bot.users.cache.get(bots2[i].botid).displayAvatarURL()  %>
      <% presence2 = bot.users.cache.get(bots2[i].botid).presence.status %>
      <% }else{ %>
        <% botavatar2 = bots2[i].avatar %>
      <% botname2 = "Error fetching" %>
      <% } %>
      <% } %>
      <% if(botname2.length > 22){ %>
        <% botname2 = botname2.slice(0 , 19) + "..." %>
      <% } %>
      <% if(presence2 == "online"){ %>
        <img src="https://cdn.discordapp.com/avatars/<%= thebot2.id %>/<%= thebot2.avatar %>" style="width: 120px; height: 120px; border-radius: 70px; border-style: solid; border-color: greenyellow;"> 
      <% }else if(presence2== "idle"){ %>
        <img src="https://cdn.discordapp.com/avatars/<%= thebot2.id %>/<%= thebot2.avatar %>" style="width: 120px; height: 120px; border-radius: 70px; border-style: solid; border-color: rgb(255, 189, 47);"> 
      <% }else if(presence2 == "dnd"){ %> 
        <img src="https://cdn.discordapp.com/avatars/<%= thebot2.id %>/<%= thebot2.avatar %>" style="width: 120px; height: 120px; border-radius: 70px; border-style: solid; border-color: rgb(255, 47, 47);"> 
      <% }else{ %> 
        <img src="https://cdn.discordapp.com/avatars/<%= thebot2.id %>/<%= thebot2.avatar %>" style="width: 120px; height: 120px; border-radius: 70px; border-style: solid; border-color: rgb(207, 207, 207);"> 
      <% } %>
      <div class="container">
      <b style="background-color: #2c2c34;  margin: 10px; height: 30px; border-radius: 20px; padding: 5px;"><i class="fa fa-check"></i> <%= botvotes2 %></b>
      <b style="background-color: #2c2c34;  margin: 10px; height: 30px; border-radius: 20px; padding: 5px;"><i class="fa fa-server"></i> <%= botservers2 %></b>
      <b style="background-color: #2c2c34;  margin: 10px; height: 30px; border-radius: 20px; padding: 5px;"><i class="fa fa-sitemap"></i> <%= botshards2 %></b>
      <b style="background-color: #2c2c34; margin: 10px; height: 30px; border-radius: 20px; padding: 5px;"><i class="fa fa-thumbs-up"></i> <%= botlikes2 %></b>
      <b style="background-color: #2c2c34; margin: 10px; height: 30px; border-radius: 20px; padding: 5px;"><i class="fa fa-thumbs-down"></i> <%= botdislikes2 %></b>
  </div>
    <h2><%= botname2 %></h2>
    <p style="word-wrap:break-word;"><%= botshort2 %></p>
    <% bots2[i].tags.split(", ").map(x => { %>
      <b style="color: white;  background-color: #2c2c34; border-radius: 20px; padding: 3px; font-size: 12px;"><%= x %></b> 
      <% }) %>
      <br>
      <br>
    <a href="<%= botinvite2 %>" class="viewbutton" style="background-color: transparent;"><i class="fa fa-plus"></i> Invite</a>
    <a href="/bots/<%= bots2[i].is_certified ? bots2[i].vanity : bots2[i].botid %>" class="viewbutton" style="background-color: transparent;"><i class="fa fa-eye"></i> View</a>
  </div>
<% } %>  
      <% } %>
</div>
<br><br><br><br><br><br>
<%- include("partials/footer") %>
<script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
  new Crate({
    server: '748977820457238530', // Paradise Bot List | PBL
    channel: '762752166405472266', // #website-support
    location: ['bottom', 'left']
  })
</script>
</body>
</html>
